html {
    overflow-x: hidden;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFF1E0;  
}
header {
    background-color: #051F20;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}


a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  padding: 0 2rem;
  height: 100%; /* ocupa toda a altura do header */
}

.nav-list {
  list-style: none;
  display: flex;

}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 765px) {
  body {
    overflow-x: hidden;
  }

  header {
        position: fixed; /* Mude para FIXED */
        top: 0;
        width: 100%; /* Garanta a largura total, essencial para fixed */
        height: 15vh; /* Mantenha a altura */
        z-index: 1000;
    }

  .nav-list {
    position: fixed;
    top: 11vh; /* Ajustado para começar abaixo do header */
    right: 0;
    width: 70vw;
    height: 85vh; /* Ajustado para preencher o resto da tela */
    background: #051F20;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(calc(100% + 5px)); 
    transition: transform 0.3s ease-in;
    z-index: 999;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.header-logo {
    width: 120px;
    height: 120px;
}

/* Main */
.main {
    min-height: 85vh;
    background: url(imagens/home-img.png) no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}

.title-main {
    color: #845034;
    margin-left: 7%;
    user-select: none;
    font-size: 5rem;
}

.button-main {
    margin-left: 10%;
    padding: 20px 50px;
    font-size: 1rem;
    border: none;
    background: #051F20;
    color: #FFF;
    font-weight: bold;
    border-radius: 20px;
    transition: transform 0.7s ease;
    cursor: pointer;
    margin-top: 2%;
}

.button-main:hover {
    background: #0b4042;
}
@media (max-width: 765px) {
     /* Main*/

    .button-main {
        padding: 14px 28px;
        font-size: 15px;
        margin-left: 4%;
    }

     .main {
        background-position: center top;
        background-size: cover;
        min-height: 70vh; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        padding-bottom: 5%; 
    }

    .title-main {
        font-size: 3.5rem;
        margin-left: 5%;
    }
}
/* Sobre */
.sobre {
    margin: 7%;
    width: 86%;
    max-width: 100%;
    margin-left: 7%;
    margin-right: 7%;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h1-sobre {
    color: #A66848;
    font-size: 5rem;
    user-select: none;
    text-align: center;
}

.p-sobre {
    font-size: 1.5rem;
    color: #FFF;
    background-color: #051F20;
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    margin: 0 ;
}

.p-sobre span {
    color: #804e34;
}

@media (max-width: 999px) {
    .h1-sobre {
        font-size: 3rem;
    }

    .p-sobre {
    font-size: 18px;
    }

}

/* Premios e concursos */
.premios-concursos {
    background-color: #051F20;
    display: flex;
    flex-direction: column; 
    padding-top: 5%;
    min-height: 90vh;
    width: 100%;
}

.premios-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.premios-titulo {
    color: #845034;
    font-size: 3rem;
    text-align: center;
    user-select: none;
    margin: 0 3%;
}

.divisao{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10% 4%;
    
}

.subtitulo-premios {
    color: #F3E9DD;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.lista-premios {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    color: #804e34;
}
.card-premios {
    background-color:#093335 ;
    display: flex;
    flex-direction: column;
    min-height: 130px;
    max-width: 450px;
    padding: 2px 5px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 765px) {
    .premios-titulo {
        font-size: 2rem;
    }
    
    
    .premios-conteudo {
        flex-direction: column;
        align-items: center;
    }
    

    .subtitulo-premios {
        font-size: 1.3rem;
    }

    .card-premios {
        max-height: auto;
        min-height: 100px;
        font-size: 0.8rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .divisao {
        gap: 40px;
        margin: 5% 4%; 
    }
}

/*Catálogo */

.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 7%;
    width: 90%;
    margin-bottom: -1%;
}

.catalogo-conteudo {
    display: flex;
    flex-direction: row;
    margin: 10% 4%;
    gap: 10%;
}

.divisao-classicas, .divisao-premium {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 70vh;
    max-width: 400px;
    width: 100%;
}

.title-catalogo {
    color: #845034;
    font-size: 5rem;
    user-select: none;
}

.subtitle-catalogo {
    color: #845034;
    font-size: 2rem;
}

.divisao-classicas {
    background-color: #E2D7CA;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
    border-radius: 15px;
    gap: 25px;

}

.lista-classicas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
    color: #1D3F35;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0px 10px;
}

.title-divisao {
    color: #794d38;
    font-size: 2rem;
    text-align: center;
}

.divisao-premium {
    background-color: #051F20;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    border: none;
    border-radius: 15px;
    gap: 30px;
}

.lista-premium {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
    color: #FFF;
    list-style: none;
    font-size: 1.2rem;
    padding: 0px 10px;
}

@media (max-width: 765px) {
    .title-divisao {
        font-size: 2rem;
    }
    .subtitle-catalogo {
        font-size: 1.5rem;
        text-align: center;
    }

    .divisao-premium, .divisao-classicas{
        min-height: 5vh;
        min-width: 100%;
        gap: 10px;
    }

    .lista-premium, .lista-classicas{
      gap: 15px;
    }

    .catalogo-conteudo {
        display: flex;
        flex-direction: column;
        margin: 5% 0;
        gap: 20px;
        width: 100%; /* Garante que o container ocupe toda a largura */
    }

    .li-classicas, .lista-premium {
        font-size: 22px;
    }

    .title-catalogo {
        font-size: 4rem;
    }
}

/* Footer */

.redes-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.footer {
    width: 100%;
    height: auto;
}

#footer-content {
    background-color: #051F20;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
    gap: 2rem;
    color: white;
}

.footer-list li {
    list-style: none;
    margin-bottom: 12px;
    font-size: 14px;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #845034;
}

#footer-contatos h2 {
    font-size: 1.2rem;
    padding: 10px;
    line-height: 1.1;
}

#footer-contatos {
    margin-top: -10px
}

/* Responsivo */
@media screen and (max-width: 765px) {
    #footer-content {
        grid-template-columns: 1fr;
        padding: 2rem 1rem;
        text-align: center;
        gap: 1.3rem;
    }

    .footer-link:hover {
    color: #845034;
    } 

    #footer-contatos {
        margin-top: 20px;
    }
}